*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/ejoy.jpg");
    background-size: cover;
}
nav{
    height: 10vh;
}

nav a{
    text-align: center;
    color: blue;
    font-style: italic;
    text-decoration: none;
}
nav a:hover{
    color: aqua;
    font-family: "poppins";
    text-shadow: 2px 3px 4px;
}

#west{
    border-radius: 40%;
    margin-top: 20px;
}
.pg1{
  color: black;
  font-size: 30px;
  margin-top: 50px;
  font-weight: 800;
  padding: 50px;
  background-color: rgba(56, 53, 53, 0.527);
}

.cont1{
    margin-top: 10%;
    display: flex;
    background-color: rgba(44, 40, 40, 0.473);
    justify-content: space-evenly;
}
.con1,.con2,.con3{
    margin-top: 20px;
padding: 100px;
background-color: white;
border-radius: 50%;
}

#imag1{
    border-radius: 45px;
    border:  2px solid black;
}