#container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    border: 25px;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    
}
#container1 {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    border: 35px;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    
}
.heading {
    text-align: center;
    padding: 20px;
}
#container img {
    display: flex;
    width: 350px;
    height: 350px;
}
#container1 img {
    display: flex;
    width: 350px;
    height: 350px;
}